* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Classes Auxiliares */
.container {
    max-width: 1200px;
    margin: auto;
}

.models {
    display: none;
}

.modelsComments {
    display: none;
}

/* ESTILIZAÇÃO HEADER */
header {
    background-color: #064789;
    padding: 10px 20px;
    color: #fff;
}

header .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

header a {
    text-decoration: none;
    color: #fff;
}

.menu-desktop {
    display: flex;
}

.menu-desktop ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}

.menu-desktop li {
    padding-right: 20px;
    text-transform: uppercase;
}

.menu-desktop li:nth-child(3) {
    padding: 0;
}

.menu-desktop a {
    text-decoration: none;
    transition: 0.8s;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    background-color: #0aa6da;
    color: #fff;
    padding: 10px;
    border-radius: 5px;

}

.menu-desktop a:hover {
    background-color: #0691c0;
}

/* FIM ESTILIZAÇÃO HEADER */

/* ÍNICIO ESTILIZAÇÃO MAIN */
main {
    min-height: 100vh;
}

/* FIM ESTILIZAÇÃO MAIN */

/* ÍNICIO ESTILIZAÇÃO SECTION BANNER BLO */

.bannerBlog {
    background-image: url(../images/banner_blog.jpg);
    background-position: center;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* ÍNICIO ESTILIZAÇÃO SECTION TITLE POSTS */
.titlePosts {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 20px;
    padding: 0 20px;
}

.titlePosts .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.titlePosts h2 {
    color: #808080;
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 30px;
}

/* FIM ESTILIZAÇÃO SECTION TITLE POSTS */

/* ÍNICIO ESTILIZAÇÃO SECTION POSTS */
.posts {
    padding: 20px;
}

.postsArea {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 50px;
}

.wrapperPost {
    padding: 25px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    flex: 1;
    box-shadow: 1px 1px 5px #ccc;
}

.posts h5 {
    margin-bottom: 15px;
    font-size: 20px;
    text-transform: capitalize;
}

.posts p {
    margin-bottom: 20px;
}

.posts .btnReadMore {
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #6A00F4;
    color: #6A00F4;
    text-decoration: none;
    transition: 0.6s;
}

.posts .btnReadMore:hover {
    background-color: #6A00F4;
    color: #fff;
}

/* ÍNCIO ESTILIZAÇÃO SECTION COMMENTS */
.comments {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all ease .5s;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    display: none;
}

.comments .container {
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #999;
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: auto;
    padding: 20px;
    align-items: center;
}

.comments h2 {
    text-align: center;
    color: #808080;
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 30px;
}

.commentsArea {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.userComments {
    display: none;
    padding: 10px;
}

.userComments h6 {
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.userComments .userEmail {
    margin-bottom: 5px;
}

.userComments .textComments {
    max-width: 800px;
}

.closeArea {
    width: 50px;
    height: 50px;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    background-color: #f00;
    border-radius: 100%;
    color: #fff;
    opacity: 0.7;
    transition: 0.8s;
    cursor: pointer;
    margin-top: 20px;
}

.closeArea:hover {
    opacity: 1;
}

/* FIM ESTILIZAÇÃO SECTION COMMENTS */

/* ÍNICIO ESTILIZAÇÃO SECTION USER INFO */

.userInfo {
    padding: 0 20px;
}

.userInfo .container {
    display: flex;
    margin-top: 40px;
    align-items: center;
    flex-direction: column;
}

.titleTable {
    width: 100%;
}

.userInfo h2 {
    text-align: center;
    color: #808080;
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 30px;
}

.tableUser {
    margin-top: 40px;
    border-collapse: collapse;
    width: 100%;
    max-width: 1000px;
    text-align: center;

}

.tableUser thead {
    height: 50px;
    border-bottom: 2px solid #ccc;
    font-size: 22px;

}

.trTbody {
    height: 55px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: 0.7s;
    font-size: 17px;
}

.trTbody:nth-child(1) {
    display: none;
}

.tableUser .trTbody:hover {
    background-color: #ebebeb;
}

.tableUser tbody tr:nth-child(2n) {
    background-color: #ebebeb;
}

.btnRealDetails {
    text-decoration: none;
    color: #6A00F4;
}

.btnRealDetails:hover {
    text-decoration: none;
    text-decoration: underline;
}

.areaUserDetails {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all ease .5s;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    display: none;
}

.areaUserDetails .container {
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #999;
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: auto;
    padding: 20px;
    align-items: center;
}

.areaUserDetails h2 {
    text-align: center;
    color: #808080;
    font-weight: 500;
    margin-bottom: 15px;
}

.details {
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
}

.detailsUser {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details h4 {
    font-size: 23px;
    margin-bottom: 20px;
}

.details span {
    margin-bottom: 10px;
}

.closeDetails {
    width: 50px;
    height: 50px;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    background-color: #f00;
    border-radius: 100%;
    color: #fff;
    opacity: 0.7;
    transition: 0.8s;
    cursor: pointer;
    margin-top: 20px;
}

.closeDetails:hover {
    opacity: 1;
}

/* FIM ESTILIZAÇÃO SECTION USER INFO */


/* ÍNICIO ESTILIZAÇÃO FOOTER */
footer {
    background-color: #064789;
    padding: 15px 20px;
    margin-top: 60PX;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

.footer-title {
    color: #fff;
}






/* MEDIAS QUERIES */

@media screen and (max-width: 820px) {
    .postsArea {
        grid-template-columns: repeat(2, 1fr);

    }

}

@media screen and (max-width: 540px) {
    .trTbody {
        font-size: 15px;
    }

    .postsArea {
        grid-template-columns: repeat(1, 1fr);
    }

    .menu-desktop {
        display: none;
    }
}

@media screen and (max-width: 414px) {
    .postsArea {

        grid-template-columns: repeat(1, 1fr);

    }

    .tdDetails {
        display: none;
    }

    .tableUser thead th:nth-child(4) {
        display: none;
    }

    .trTbody {
        height: 50px;
        font-size: 15px;
    }

    footer .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    footer span {
        margin-bottom: 10px;
    }
}

@media screen and (max-width:375px) {
    .trTbody {
        font-size: 13px;
    }

    .tableUser thead th:nth-child(4) {
        display: none;
    }

    .tdDetails {
        display: none;
    }

}